@model List<Alumno>

@{
    ViewData["Title"] = "Información Alumno";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<partial name="ListaObjetoEscuelaSimple" />


<h3>Fecha: @ViewBag.Fecha</h3>
